html
    head
        link(rel="stylesheet" href="/public/index.css")
    body 
        h1 User profile page
        //- div=msg
        h2 Nickname
        div.green= nickname
        div= userId

        h2 Profile 
        img(src=imgURL, alt="").profileSize
        //폼안의 버튼을 클릭시 액션의 주소로 multipart/form-data 형태로 파일이 올라간다.
        form(action=`/users/${userId}/profile` method="post" enctype="multipart/form-data")
            input(type="file" name="profile")
            button Upload profile picture